$border: 1px solid #000;
$margin: auto;

@mixin flex($fd, $jc, $ai) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

@mixin mobile($px) {
    @media (max-width: $px) {
        @content;
    }
}

* {
    // background-color: #191919;
    // border: 0px;
    padding: 0px;
    margin: 0px;
    font-family: 'Gabarito', sans-serif;
}
body {  
    header {
        // border: $border;
        // padding: 25px 0 20 0;
        width: 95%;
        margin: auto;
        @include flex(row, space-between, center);
        padding-top: 20px;
        .headerleft {
            width: 45%;
            @include flex(row, space-between, center);
            // border: $border;
            & a:nth-child(1) {
                // border: $border;
                width: 25%;
                height: 45px;
                background-image: url(logo.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center; 
            }
            & a {
                text-decoration: none;
                color: #000;  
                &:hover {
                    color: #378387; 
                    text-decoration: underline;
                }
            }
        }
        .headerright { 
            @include flex(row, space-between, center);
            // border: $border;
            width: 25%;
            & a:nth-child(1) {
                text-decoration: none;
                color: #000;
                &:hover {
                    color: #378387; 
                    text-decoration: underline;
                }
            }
            & a:nth-child(2) {
                text-decoration: none;
                // border: $border;
                background-color: #378387;
                color: #fff;
                padding: 13 33 13 33;
                border-radius: 5px;
            }
        }
    }
    .section1 {
        margin-top: 23px;
        margin-right: 20px;
        // border: $border;
        height: 90%;
        background-image: url(background.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center right;
        @include flex(column, center, flex-start);
        .section1one {
            padding: 30px;
            // border: $border;
            width: 40%;
            height: 65%;
            @include flex(column, space-between, center);
            & div:nth-child(1) {
                font-size: 50px;
                font-weight: bolder;
                line-height: 70px;
            }
            & div:nth-child(2) { 
                color: #828390;
                width: 100%;
                font-size: 27px
            } 
            .already {
                // border: $border;
                @include flex(row, flex-start, center);
                width: 100%;
                gap: 10px;
                & div {
                    font-size: 18px;
                }
                & a {
                    text-decoration: none;
                    color: #32797d;
                    font-size: 18;
                    font-weight: bold;
                }
            }
            .area {
                // border: $border;
                // padding: 20px;
                width: 100%;
                @include flex(row, flex-start, center);
                gap: 30px;
                .areaa {
                    @include flex(row, flex-start, center);
                    gap: 20px;
                    border: 1px solid #e2e2e2;  
                    border-radius: 5px;
                    width:55%;
                    height: 50px;
                    padding: 10px 0 0 30;
                    & input {
                        padding: 0px; 
                        outline: none;
                        border: none;
                    }
                    .fa-location-dot {
                        font-size: 20px; 
                        color: #808080;
                    }
                }
                .a {
                    text-decoration: none;
                    color: #fff;
                    background-color: #378488;
                    padding: 20 40 20 40; 
                    border-radius: 5px;
                }
            }
        }
    }
    .section2 {
        // border: $border; 
        height: 57%;
        padding: 30px;
        gap: 100px;
        @include flex(column, center, center);
        & div:nth-child(1) {
            font-size: 50px;
            font-weight: bold;
        }
        & div:nth-child(2) {   
            @include flex(row, center, center);
            gap: 50px;
            & div {
                @include flex(column, center, center);
                gap: 20px;
                .correct {
                    // border: $border;
                    width: 25%;
                    height: 130px;
                    background-image: url(correct.png);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                .basket {
                    // border: $border;
                    width: 25%;
                    height: 130px;
                    background-image: url(basket.png);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                .cart {
                    // border: $border;
                    width: 25%;
                    height: 130px;
                    background-image: url(cart.png);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                & h1 {
                    font-size: 25px;
                }
                .we {
                    font-size: 18px;
                    font-weight: normal;
                    color: #8e8e8e; 
                    text-align: center;
                    line-height: 30px;
                    width: 90%;
                }
                .the { 
                    font-size: 18px;
                    line-height: 30px;
                    color: #8e8e8e; 
                    font-weight: normal;
                    text-align: center;
                    width: 68%;
                }
                .produce { 
                    color: #8e8e8e; 
                    line-height: 30px;
                    font-size: 18px;
                    font-weight: normal;
                    text-align: center;
                    width: 75%;
                }
            }
        }
    }
    .section3 {
        // border: $border;
        height: 300px;
        background-color: #eaf2f2;
        @include flex(column, center, center);
        gap: 60px;
        & h1 {
            font-size: 50px;
            font-weight: bold;
        }
        & p {
            font-size: 17px;
            width: 65%;
            text-align: center;
            line-height: 28px;
            color: #8e8e8e;
        }
    }
    .section4 {
        // border: $border;
        width: 90%; 
        padding-top: 30px;        
        padding-left: 35px;        
        height: 100%;
        @include flex(row, space-between, center);
        .woman {
            //    border: $border; 
            width: 45%;
            height: 90%;
            border-radius: 10px;
            background-image: url(lady-farmer.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .farmers {
            @include flex(column, space-between, flex-start);
            height: 65%;
            width: 55%;
            // border: $border;
            .for {
                margin-bottom: 50px; 
                font-size: 40px;
                font-weight: bold;
            }
            .medal {
                @include flex(column, space-between, flex-start);
                gap: 20px;
                // border: $border;
                width: 100%;
                padding: 5; 
                & div:nth-child(1) {
                    width: 5%;
                    // border: $border;
                    height: 50px;
                    background-image: url(medal.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }
                & div:nth-child(2) { 
                    font-size: 20px;
                    font-weight: bold;
                }
                & div:nth-child(3) {
                    font-size: 18px;
                    color: #8e8e8e;
                }
            }
            .leaf {
                @include flex(column, space-between, flex-start);
                gap: 20px;
                // border: $border;
                width: 100%;
                padding: 5; 
                & div:nth-child(1) {
                    width: 9%;
                    // border: $border;
                    height: 50px;
                    background-image: url(leaves.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }
                & div:nth-child(2) { 
                    font-size: 20px;
                    font-weight: bold;
                }
                & div:nth-child(3) {
                    font-size: 18px;
                    color: #8e8e8e;
                } 
            }
            .house {
                @include flex(column, space-between, flex-start);
                gap: 20px;
                // border: $border;
                width: 100%;
                padding: 5; 
                & div:nth-child(1) {
                    width: 9%;
                    // border: $border;
                    height: 50px;
                    background-image: url(house.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }
                & div:nth-child(2) { 
                    font-size: 20px;
                    font-weight: bold;
                }
                & div:nth-child(3) {
                    font-size: 18px;
                    color: #8e8e8e;
                    line-height: 30px;
                } 
            }
        }
    }
    .section5 {
        // border: $border;
        width: 96%; 
        margin: auto;        
        height: 100%;
        @include flex(row, space-between, center); 
        .food {
            // border: $border; 
            width: 40%;
            height: 90%;
            border-radius: 10px;
            background-image: url(tasty-meal.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .business {
            @include flex(column, space-between, flex-start);
            height: 65%;
            width: 51%;
            // border: $border;
            @include flex(row, space-between, center);
            & div:nth-child(1) {
                border: $border;
                width: 45%;
                height: 100%;
                @include flex(column, space-between, flex-start);
                
            }
            & div:nth-child(2) {
                border: $border;
                width: 45%;
                height: 100%;
                @include flex(column, space-between, flex-start);
                
            }
        }
    } 
}